body {
    font-family: Arial;
}

/* 1. Text Alignment */
.text-align {
    text-align: center;
    border: 2px solid blue;
    margin-bottom: 20px;
}

/* 2. Block Alignment (margin auto) */
.center-box {
    width: 200px;
    margin: auto;
    background: lightgreen;
    text-align: center;
    padding: 10px;
    margin-bottom: 20px;
}

/* 3. Vertical Alignment */
.vertical-align img {
    vertical-align: middle;
}

/* 4. Flexbox Alignment */
.flex-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 120px;
    border: 2px solid red;
    margin-bottom: 20px;
}

/* 5. Grid Alignment */
.grid-container {
    display: grid;
    grid-template-columns: auto auto;
    place-items: center;
    height: 120px;
    border: 2px solid purple;
    padding: 10px;
}

.box {
    background: teal;
    padding: 10px;
    border-style: solid;
    border-radius: 10px;
}

.flex {
    background: lightcoral;
    padding: 10px;
    margin: 0 auto;
    border-style: solid;
    border-radius: 10px;
}

.box2 {
    background: teal;
    padding: 10px;
    margin: 0 auto;
    border-style: solid;
    border-radius: 10px;
}

.box3 {
    color: white;
    background: maroon;
    padding: 10px;
}

.box4 {
    color: white;
    background: maroon;
    padding: 10px;
}