body {
    margin: 0;
    overflow: hidden;
    height: 100vh;
    background: linear-gradient(skyblue, white);
}


.plane {
    height: 300px;
    width: 500px;
    font-size: 50px;
    position: absolute;
    top: 40%;
    left: -60px;
    animation: fly 6s linear infinite;
}


@keyframes fly {
    0% {
        left: -60px;
        transform: translateY(0);
    }

    50% {
        transform: translateY(-50px);
    }

    100% {
        left: 100%;
        transform: translateY(0);
    }
}