body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: rgb(53, 217, 217);
    margin: 0;
}



.spinn {
    width: 300px;
    height: 300px;
    background: linear-gradient(100deg, #333, red);
    border-radius: 60px;
    box-shadow: 10px 30px 20px rgba(0, 0, 0, 0.1);
    position: relative;
    animation: spin 1s ease-in-out infinite reverse;
}

@keyframes spin {

    0% {
        transform: translate(100%, -50%) scale(1) rotate(0deg);
        background: red;
        box-shadow: maroon;
        filter: hue-rotate(100deg);

    }

    25% {
        transform: translate(-20px, -10px) scale(1.5) rotate(90deg);
        background: yellow;
        box-shadow: chartreuse;
    }

    50% {
        transform: translate(150px, 200px) scale(0.5) rotate(180deg);
        background: teal;
    }

    75% {
        transform: translate(-100px, 150px) scale(5) rotate(600deg);
        background: cyan;
    }

    100% {
        transform: translate(200px, -200px) scale(2) rotate(360deg);
        background: magenta;
        filter: hue-rotate(300deg);
        box-shadow: 20px 30px 60px green;
    }
}

.crazy {
    width: 100px;
    height: 100px;
    background: linear-gradient(100deg, #333, red);
    border-radius: 1000px;
    box-shadow: 10px 30px 20px rgba(0, 0, 0, 0.1);
    position: relative;
    animation: spin 2s ease-in infinite reverse;
    animation-delay: 10ms;
}

@keyframes crazy {

    0% {
        transform: translate(-50%) scale(1) rotate(0deg);
        background: red;
        box-shadow: maroon;
        filter: hue-rotate(100deg);

    }

    25% {
        transform: translate(-20px, -100px) scale(1.5) rotate(332deg);
        background: yellow;
        box-shadow: chartreuse;
    }

    50% {
        transform: translate(10px, 60px) scale(0.5) rotate(180deg);
        background: green;
    }

    75% {
        transform: translate(-100px, 500px) scale(5) rotate(300deg);
        background: red;
    }

    100% {
        transform: translate(40px, -200px) scale(3) rotate(36deg);
        background: magenta;
        filter: hue-rotate(300deg);
        box-shadow: 20px 30px 60px magenta;
    }
}