body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.navbar {
    background-color: #333;
    /* Dark background color */
    overflow: hidden;
    /* Prevents list items from going outside */
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    color: white;
    font-size: 24px;
    font-weight: bold;
}

.navbar ul {
    list-style-type: none;
    /* Removes bullet points */
    margin: 0;
    padding: 0;
    display: flex;
    /* Stacks links horizontally */
}

.navbar li a {
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    /* Removes underlines from links */
    display: block;
    /* Makes the entire link area clickable */
}

/* Change the color of links on hover */
.navbar li a:hover {
    background-color: #555;
}

/* Add an active class to highlight the current page */
.navbar li a.active {
    background-color: #04AA6D;
    color: white;
}

main {
    padding: 20px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
}

body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: #4CAF50;
}

header {
    background-color: #4CAF50;
    color: white;
    text-align: center;
    padding: 20px;
}

.main-content {
    flex: 1;
    display: flex;
    padding: 20px;
}

aside {
    background-color: #a19a9a;
    width: 25%;
    padding: 20px;

}

section {
    width: 75%;
    padding: 20px;
    background-color: rgb(99, 138, 138);
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 15px;
    margin-top: auto;
}